<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

  <h1>About Us</h1>

  <section>

    <div>
      <img src="https://morganfillman.space/640/360" alt="Adrienne Easton" title="Adrienne Easton">
      <h3>Adrienne Easton</h3>
      <p>Adrienne Easton is a Full Stack JavaScript Software Developer who comes from working as a school psychologist and psychometrist. She loves the endless possibilities and creativity possible in coding, but then brings forth from her previous career knowledge and empathy around human behavior. Adrienne also enjoys acting, singing, swimming, and making balloon animals.</p>
    </div>

    <div>
      <img src="https://baconmockup.com/640/360" alt="Austin Wood" title="Austin Wood">
      <h3>Austin Wood</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
    </div>

    <div>
      <img src="https://placezombie.com/640x360" alt="Jonny Graybill" title="Jonny Graybill">
      <h3>Jonny Graybill</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
    </div>

    <div>
      <img src="https://placebeard.it/640x360" alt="Lee-Roy King" title="Lee-Roy King">
      <h3>Lee-Roy King</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
    </div>

  </section>

</body>

<footer>
  <%- include('../layout/footer') %>
</footer> 