<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

  <div id="adrienne">
    <img src="https://morganfillman.space/640/360" alt="Adrienne Easton" title="Adrienne Easton">
    <h3>Adrienne Easton</h3>
    <p>Adrienne Easton is a JavaScript Software Developer who has also worked as school psychologist, psychometrist, and educational specialist. Adrienne also enjoys acting, singing, swimming, and making balloon animals.</p>
  </div>

  <div id="austin">
    <img src="https://baconmockup.com/640/360" alt="Austin Wood" title="Austin Wood">
    <h3>Austin Wood</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
  </div>

  <div id="jonny">
    <img src="https://placezombie.com/640x360" alt="Jonny Graybill" title="Jonny Graybill">
    <h3>Jonny Graybill</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
  </div>

  <div id="lee">
    <img src="https://placebeard.it/640x360" alt="Lee-Roy King" title="Lee-Roy King">
    <h3>Lee-Roy King</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet luctus venenatis lectus magna.</p>
  </div>





</body>

<footer>
  <%- include('../layout/footer') %>
</footer> 