<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles//reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/styles/modules.css">
    <script src="https://kit.fontawesome.com/920a899264.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Mukta|Nanum+Gothic|Varela+Round&display=swap" rel="stylesheet">
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

  

  <div class="container-user-form">
      <div class="wrap-user-form">

        <div id="img-container">
            <a href="/">
              <img class="icon" id="logo" src="/styles/images/JALA-logo.png">
            </a>
            </div>
  <h1 class="input-form-title negative-space">About Us</h1>


  <section class="about-photos">
    <div>
      <img id="adrienne" src="/styles/images/adrienne.png" alt="Adrienne Easton" title="Adrienne Easton">
      <h3>Adrienne Easton</h3>
      <p>Adrienne Easton is a Full Stack JavaScript Software Developer who comes from working as a school psychologist and psychometrist. She loves the problem solving and endless possibilities and creativity in programming, while integrating her knowledge around empathy around human behavior from the field of psychology. Adrienne also enjoys acting, singing, swimming, and making balloon animals.</p>
    </div>
<br><br><br>
    <div>
      <img id="austin" src="/styles/images/austin.png" alt="Austin Wood" title="Austin Wood">
      <h3>Austin Wood</h3>
      <p>Austin is a Junior Software Developer eager to take on challenges of new projects.  He is currently enrolled in 
        the CodeFellows program actively learning new skills to progress as he feels a strong dev should. Austin works 
        well with group projects and also enjoys the creative freedom of taking an a task solo.</p>
    </div>
    <br><br><br>
      <div>
        <img id="lee" src="/styles/images/lee.png" alt="Lee-Roy King" title="Lee-Roy King">
        <h3>Lee-Roy King</h3>
        <p>Lee-Roy King is a former soldier with delusions of grandeur. Currently, he works at Amazon Web Services as a Support Engineer for Elastic Cloud Compute and Elastic Load Balancer in Air-gapped/isolated regions. He is happiest when working on problems that require emotional intelligence and logical problem solving.</p>
      </div>
      <br><br><br>
    <div">
      <img  id="jonny" src="/styles/images/jonny.png" alt="Jonny Graybill" title="Jonny Graybill">
      <h3>Jonny Graybill</h3>
      <p>Jonny Graybill is a Full Stack JavaScript Software Developer who has a passion for design and development of UX/UI. He has aspirations of making a career change into a front-end, design-focused position for an organization that values creativity and self-expression.</p>
    </div>

  </section>

  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</body>

<footer>
  <%- include('../layout/footer') %>
</footer> 