<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles//reset.css">
    <link rel="stylesheet" type="text/css" href="/styles//base.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Mukta|Nanum+Gothic|Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles//stylesheet.css">
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

  <div class="container-user-form">
      <div class="wrap-user-form">

        
      <h1>Operator Accruals Calculator</h1>
  
      <FORM id="gross-hours-form" NAME="hoursform" ACTION="" METHOD="GET">Enter Operator's Gross Hours: <br>
      <br>
      <INPUT id="hours" TYPE="text" NAME="inputbox" VALUE="">Hours<P>
      </FORM>
      <br>
      
      <div class="selectors">
      <form class="choice">Choice #1<br>
      <select>
        <option default=""></option>
        <option value="sl">Sick leave</option>
        <option value="vl">Vacation leave</option>
        <option value="ac">Ac bank</option>
        <option value="lwop">Leave without pay</option>
        <option value="ppl">Paid parental leave</option>
      </select>
      </form>
      
      <form class="choice">Choice #2<br>
      <select>
        <option default=""></option>
        <option value="sl">Sick leave</option>
        <option value="vl">Vacation leave</option>
        <option value="ac">Ac bank</option>
        <option value="lwop">Leave without pay</option>
        <option value="ppl">Paid parental leave</option>
      </select>
      </form>
      
      <form class="choice">Choice #3<br>
      <select>
        <option default=""></option>
        <option value="sl">Sick leave</option>
        <option value="vl">Vacation leave</option>
        <option value="ac">Ac bank</option>
        <option value="lwop">Leave without pay</option>
        <option value="ppl">Paid parental leave</option>
      </select>
      </form>
      
      <form class="choice">Choice #4<br>
      <select>
        <option default=""></option>
        <option value="sl">Sick leave</option>
        <option value="vl">Vacation leave</option>
        <option value="ac">Ac bank</option>
        <option value="lwop">Leave without pay</option>
        <option value="ppl">Paid parental leave</option>
      </select>
      </form>
      
      <form class="choice">Choice #5<br>
      <select>
        <option default=""></option>
        <option value="sl">Sick leave</option>
        <option value="vl">Vacation leave</option>
        <option value="ac">Ac bank</option>
        <option value="lwop">Leave without pay</option>
        <option value="ppl">Paid parental leave</option>
      </select>
      </form>
    </div>
      
      <br><br>
      
      <div class="hour-output-forms">
      <FORM class="the-main-forms" NAME="myform" ACTION="" METHOD="GET">Enter Operator's Sick Leave: <br>
      <br>
      <INPUT id="sickLeave" TYPE="text" NAME="inputbox" VALUE=""> Sick Leave <P>
      <p id="slOutput">Output</p>
      <p id="slOutput2"><p>
      </FORM>
          
      <FORM class="the-main-forms" NAME="secondform" ACTION="" METHOD="GET">Enter Operator's Vacation Leave:
      <br>
      <br>
      <INPUT id="vacationLeave" TYPE="text" NAME="secondinputbox" VALUE=""> Vacation Leave<P>
      <p id="vlOutput">Output</p>
      </FORM>
          
      
      <FORM class="the-main-forms" NAME="thirdform" ACTION="" METHOD="GET">Enter Operator's AC accruals:<br>
      <br>
      <INPUT id="ac" TYPE="text" NAME="thirdinputbox" VALUE=""> AC Hours<P>
      <p id="acOutput">Output</p>
      </FORM>
          
      
      <FORM class="the-main-forms" NAME="fourthform" ACTION="" METHOD="GET">Enter Operator's PPL Accruals:
      <br>
      <br>
      <INPUT id="ppl" TYPE="text" NAME="fourthinputbox" VALUE=""> PPL Hours<P>
       <p id="pplOutput">Output</p>
      </FORM>
    </div>
    <button id="divide" type="submit">Refresh</button>
   <button id="master" type="submit">Calculate</button>
  </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="/scripts/select.js"></script>
</body>

<footer>
  <%- include('../layout/footer') %>
</footer> 