<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

<!-- this will be a dropdown for days of the week  -->


<!-- This will be your days of the week in a form -->

