<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>

<div>
Sick Leave/FMLA available 
Hours available 
<%- userResults.translatedText %>
<%- userResults.mathResult %>

</div>
    </form>
  </div>

