<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles//reset.css">
  <link rel="stylesheet" type="text/css" href="/styles//base.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Mukta|Nanum+Gothic|Varela+Round&display=swap" rel="stylesheet">
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>


<div class="container-user-form ">
  <div class="wrap-user-form">
<div class="translated-text">
<%- userResults.translatedText %>
</div>
<div class="hours-available">
  <%- userResults.mathResult %>
</div>
<div>
  <ul>
    <li>FAQ</li>
    <li>Washington State</li>
    <li>Goverment</li>
  </ul>
</div>
</div>
</div>
    </form>
  </div>
</body>
