<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>



  <div id="hoursForm">
    <form action="/updateHours" method="post" id="hoursForm">

      <% pageData.days.forEach(day => { %>
      <div class="dayclass width100">
      <div class="width100"><%= day %></div>
      <input type="text" name="hoursForm" placeholder="0" class="hourinput">
      <% }); %>
      
    </div>
      <button class="hourSubmitButton"type="submit"><%= pageData.text[0] %></button>
    </form>
  </div>

