<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/modules.css">
  <link rel="stylesheet" type="text/css" href="/styles/layouts.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Mukta|Nanum+Gothic|Varela+Round&display=swap" rel="stylesheet">
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>


<div class="container-user-form ">
  <div class="wrap-user-form">
      <div id="img-container">
        <a href="/">
          <img class="icon" id="logo" src="/styles/images/JALA-logo.png">
        </a>
          </div>
<div class="translated-text">
<%- userResults.translatedText %>
</div>
<div class="hours-available">
  <%- userResults.mathResult %>
</div>
</div>
</div>
    </form>
  </div>
</body>
