/* * {
  outline: orange dashed 1px;
}

html {
  width: 100%;
  margin: 0 auto;
}
body {
  width: 480px;
  overflow: hidden;
  margin: 0 auto;
}

#header {
  width: 100%;
  color: red;
  margin: 0 auto;
  background: linear-gradient(to right, lightgreen, rgb(10, 108, 141));
}


.container {
  margin: 0 auto;
  background: linear-gradient(to right, lightgreen, rgb(10, 108, 141));
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  margin: 0 auto;
}

form {
}

form > p {
  padding-bottom: 10px;
}

#maintext {
  text-align: center;
  background: linear-gradient(to right, lightgreen, rgb(10, 108, 141));
}

#maintext > h1 {
  color: white;
  font-size: 30px;
}

#maintext > p {
  font-size: 12px;
}



.grid-container {
  background: linear-gradient(to right, lightgreen, rgb(10, 108, 141));
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "left1 mid1 right1"
  "left2 mid2 right2"
  "left3 mid3 right3";
  grid-template-columns: 40px 400px 40px;
  grid-template-rows: 50px 75px 300px;
  font-weight: bold;
  font-size: 15px;
}
.container > div {
  border: 1px dashed #888;
}

.left1 {
  grid-area: left1;
}
.mid1 {
  grid-area: mid1;
  text-align: center;
}
.right1 {
  grid-area: right1;
}
.left2 {
  grid-area: left2;
}
.mid2 {
  grid-area: mid2;
  margin: 0 auto;
  text-align: center;
}
.right2 {
  grid-area: right2;
}
.left3 {
  grid-area: left3;
}
.mid3 {
  grid-area: mid3;
  margin: 0 auto;
}
.right3 {
  grid-area: right3;
}





















/* 

#loginCreateFormDiv {
    background: black;
    color: white;
}

.dayclass {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.hourinput {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
 
.width100{
    font-size: 36pt;
    width: 100%;
    display:flex;
    justify-content:center;
}

.hourSubmitButton {
    padding: 20px;
    width: 300px;
    height: 150px;
} */ */
