html {
    margin: 0 auto;
}

body{
    width: 480px;
    margin: 0 auto;   
}

#loginCreateFormDiv {
    background: black;
    color: white;
}

.dayclass {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}



.hourinput {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
 
.width100{
    font-size: 36pt;
    width: 100%;
    display:flex;
    justify-content:center;
}

.hourSubmitButton {
    padding: 20px;
    width: 300px;
    height: 150px;
}

