a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

iframe {
	border: none !important;
}

.container {
	max-width: 1200px;
}

.dayclass {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
}

.width100 {
  text-align: left;
}

.date {
  text-align: center;
}

input.hourinput {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
  align-self: stretch;
}

.wrap-user-form {
  text-align: center;
}

.jumpButtons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.middle {
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  position: relative;
  top: -5px;
  font-family: 'Varela Round', sans-serif;
}

.oneDayClass {
  display: inline;
}
